@import '../../../universal/scss/mixins/flexbox';
@import '../../../universal/scss/mixins/transform';

.home-section {
    width: 100vw;
    height: 100vh;
    background: black;
    padding-top: 50px;
    box-sizing: border-box;
    position: relative;
    @include flexbox(flex-start, center, column);
    &:nth-of-type(2) {
        .home-image {
            @include transform(translateX(-50px));
        }
    }

    h1 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.2rem;
        b {
            font-size: 1.25rem;
            color: rgb(255, 197, 39);
        }
    }
    p, h1, .home-image, button {
        opacity: 0;
        visibility: hidden;
    }
    * {
        text-align: center;
        color: white;
    }
}

@media (max-width: 950px) {
    .home-section:first-of-type  {
        & .home-image:nth-of-type(2) {
            display: none;
        }
        & .home-image:first-of-type {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
        }
    } 

    .home-image {
        opacity: .6!important;
    }
}