@import '../../../universal/scss/mixins/flexbox';
@import '../../../universal/scss/mixins/transform';
@import '../../../universal/scss/mixins/prefixes';

.home-section {
    width: 100vw;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    background: black;
    padding-top: 50px;
    position: relative;
    text-align: center;
    @include prefixes(box-sizing, border-box, (moz, webkit));
    &:nth-of-type(2) {
        .home-image {
            @include transform(translateX(-50px));
        }
    }

    h1 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.2rem;
        b {
            font-size: 1.25rem;
            color: rgb(255, 197, 39);
        }
    }
    p, h1, .home-image, button {
        opacity: 0;
        visibility: hidden;
    }
    * {
        text-align: center;
        color: white;
    } 
    h1, p, button {
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
        position: relative;
        @include transform(translateY(20px))
    }
    h1, p  {
        width: 100vw;
    }
}

@media (max-width: 950px) {
    .home-section  {
        & > .home-image:first-of-type {
            display: none;
        }
        & > .home-image:nth-of-type(2) {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
        }
    } 
}