@import '../../../../../../universal/scss/mixins/flexbox';
@import '../../../../../../universal/scss/mixins/transition';

.filter-button {
    position: relative;
    height: 350px;
    width: 150px;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid white;
    margin: 8px;
    max-width: calc(100vw - 16px);
    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 0;
    }
    &__name-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: white!important;
        font-size: 18px;
        text-transform: uppercase;
        background: rgba(15, 15, 15, .75);
        z-index: 2;
        @include flexbox(center, center, column);
        @include transition(.3s ease-out);
        &:hover {
            opacity: 0;
        }
        .chosen-filter {
            font-size: 12px;
        }
    }
    &__clear-button {
        position: absolute;
        width: 40px;
        height: 40px;
        left: -8px;
        bottom: -8px;
        background: none;
        color: white!important;
        border: none;
        font-size: 20px;
        opacity: 1!important;
        z-index: 3;
    }
}

@media (max-width: 700px) {
    .filter-button {
        width: 95vw;
        height: 80px;
    }
}