@import '../../../universal/scss/mixins/transition';
@import '../../../universal/scss/mixins/transform';

.home-image {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: auto;
    max-width: 100vw;
    object-fit: cover;
    @include transition(.4s);
}

.right {
    @include transform(rotateY(180deg));
    right: 0;
}
.left {
    left: 0;
}