@import '../../../../../universal/scss/mixins/flexbox';

.filter-picker {
    text-align: center;
    width: 300px;
    height: 80vh;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 10px;
    display: none;
    border: 2px solid black;
    overflow-y: auto;
    z-index: 4;
    padding-top: 25px;
    background: rgb(71, 151, 183);
    &-shown {
        @include flexbox(flex-start, center, column, nowrap);
    }
}