@mixin linear-gradient($value) {
    background: linear-gradient($value);
    background: -moz-linear-gradient($value);
    background: -o-linear-gradient($value);
    background: -webkit-linear-gradient($value);
}