.filter-picker-input {
    margin: 35px 0 10px;
    width: 260px;
    box-sizing: border-box;
    padding: 10px 15px;
    background: none;
    border: 3px solid rgb(225, 215, 139);
    border-radius: 15%;
    color: white;
}