@import '../../../../../../universal/scss/mixins/transform';
@import '../../../../../../universal/scss/mixins/transition';


.confirm-filter-button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    i {
        @include transition(1s);
    }

    &:hover i {
        @include transform(rotate(720deg));
    }
}