@import '../../../universal/scss/mixins/flexbox';
@import '../../../universal/scss/mixins/prefixes';
@import '../../../universal/scss/mixins/transition';

.navigation {
    width: 100vw;
    height: 100px;    
    @include flexbox(space-between, center);
    @include prefixes(box-sizing, border-box, (wevkit, moz));
    position: relative;
    border-bottom: 2px solid #376E6F;
    padding: 0 10px;
    background: rgb(15, 15, 25);
    * {
        color: #88BDBC;
    }
}

@media (max-width: 500px) {
    .navigation {
        height: 140px;
        @include flexbox(space-between, flex-start);
        padding-top: 10px;
    }
}