.exit-button {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-right: -25px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #376E6F;
    border: 2px solid #376E6F;
    background: transparent;
}