@import '../../universal/scss/mixins/prefixes';

.drink-details-container {
    visibility: visible;
    text-align: center;
    & > h1 {
        color: white;
        i {
            @include prefixes(animation, 1s ease-in spin infinite, (webkit));
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}