.logo-container {
    font: italic 20px cursive;
    color: rgb(255, 197, 39);
    width: 120px;
    box-sizing: border-box;
    text-decoration: none;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
}