@import '../../universal/scss/mixins/flexbox';
@import '../../universal/scss/mixins/transform';
@import '../../universal/scss/mixins/prefixes';

.contact-section {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    @include prefixes(box-sizing, border-box, (moz, webkit));
    @include flexbox(flex-start, center, column);
    * { 
        z-index: 2;
        color: white;
    }

    & > * {         
        opacity: 0;
        visibility: hidden;
        &:not(img) {
            @include transform(translateY(50px));
        }
    }
    img {
        z-index: 1;
        @include transform(translateX(-50px));
    }
    h3 {
        color: rgb(255, 197, 39);
    } 
    p, label, h1 {
        background: rgba(0, 0, 0, .8);
    }
}

@media (max-width: 950px) {
    .contact-section img {
        display: none;
    }
}