@import './universal/scss/font_awesome/css/all.min.css';
@import './universal/scss/mixins/transition';

#root {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    button {
        @include transition(.3s ease-in);
    }
}

body {
    margin: 0;
    background: black;
    overflow-x: hidden;
}