@import '../../../../../../universal/scss/mixins/transition';
@import '../../../../../../universal/scss/mixins/linearGradient';

.filter-picker-button {
    width: 50%;
    height: auto;
    padding: 5px 0px;
    text-align: center;
    margin: 5px 0 5px;
    background: black;
    @include linear-gradient((to right, #376E6F 0%, #376E6F 50.5%, rgb(15, 15, 35) 50.5%));
    background-position: right;
    border: none;
    background-size: 200% 100%;
    @include transition(.15s ease-out);
    &:hover, &:active {
        color: white;
        background-position: left;
    }
}